*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

.bnr img {
    width: 100% !important;
}
article h1{
    font-size: 40px;
    padding: 12px 0px !important;
}
article h2{
    font-size: 30px;
    padding: 12px 0px !important;
}
article h3{
    font-size: 25px;
    padding: 12px 0px !important;
}
